//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    @media screen and (min-width: 1024px) {
      padding-top: 100px;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -54px;
        width: 150%;
        height: 300px;
        z-index: -1;
        @include maru(40% 58% 55% 0% / 57% 100% 10% 39%);
        @media screen and (min-width: 768px) {
          height: 360px;
        }
        @media screen and (min-width: 1024px) {
          left: -206px;
          height: 470px;
        }
    }

    &__home {
      // width: 390px;
        position: relative;
        // margin: 0 7% 30px;

        @media screen and (min-width: 768px) {
            // width: 439px;
            font-size: 20px;
            margin-left: 11%;
        }
        @media screen and (min-width: 1024px) {
          font-size: 26px;
          margin-left: 24.5%;
        }

        &::after {
            position: absolute;
            content: 'HOME';
            top: 5px;
            right: 78px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding-top: 10px;
            font-size: 9px;
            text-align: center;
            background: $darkorange;
            color: #fff;
            @media screen and (min-width: 1024px) {
              right: 3%;
              top: 13px;
              width: 60px;
              height: 60px;
              padding-top: 20px;
              font-size: 14px;
              font-weight: bold;
            }
        }

        &__link {
            display: block;
            padding: 10px 44px 10px;
            text-decoration: none;
            color: #fff;
            @media screen and (min-width: 1024px) {
              width: 76%;
              padding: 10px 20px;
            }

        }
    }

    &__box {
        margin: 0 auto;
        width: 86%;
        height: 200px;

    }

    &__gnav {
        &__nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @media screen and (min-width: 768px) {
                width: 84%;
                flex-wrap: nowrap;
                padding: 10px 20px;
            }
            @media screen and (min-width: 1024px) {
              width: 60%;
              margin: auto;
            }
        }

        &__list {

            font-size: 10px;

            @media screen and (min-width: 768px) {
                font-size: 15px;
            }
            @media screen and (min-width: 1024px) {
              font-size: 18px;
            }
        }

        &__link {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 30px 70px 9px 20px;
            @media screen and (min-width: 768px) {
              padding: 10px 10px;
            }

            &:hover {
                color: $darkorange;
            }
        }

        &__lists {
            font-size: 9px;

            @media screen and (min-width: 768px) {
                font-size: 10px;
            }
            @media screen and (min-width: 1024px) {
              font-size: 16px;
            }
        }

        &__links {
          font-size: 9px;
            display: block;
            padding: 10px 36px 5px 36px;
            text-decoration: none;
            color: #fff;
        }
    }

    &__copy {
        // position: relative;
        text-align: center;
        padding-bottom: 10px;
        color: #fff;
        font-size: 10px;
        @media screen and (min-width: 1024px) {
          font-size: 14px;
          letter-spacing: 0.2em;
          padding-bottom: 50px;
        }
    }
}